body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3.3rem;
    color: rgba(0, 0, 0, 0.37);
}
.choices{
    margin-bottom: 30px;
}
.choices button{
    font-size: 6.3rem;
    min-width: 180px;
    margin: 0 9px;
    border-radius: 270px;
    background-color: rgba(137, 43, 226, 0.678);
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.choices button:hover{
    background-color: rgba(137, 43, 226, 0.315);
}
#playerDisplay, #computerDisplay{
    font-size: 2.7rem;
}
#resultDisplay{
    font-size: 4.5rem;
    margin: 30px 0px;
}
.greenText, #playerScoreDisplay{
    color: greenyellow;
}
.redText, #computerScoreDisplay{
    color: red;
}
.scoreDisplay{
    font-size: 2rem;

}
